<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="express"
			 connectionString="Server=(localdb)\MSSQLLocalDB;trusted_Connection=True;Encrypt=False"/>
		<add name="mysql"
			 connectionString="server=localhost;port=3306;user=root;"/>
	</connectionStrings>
</configuration>